.btn {
  background-color: #5e348c;
  color: white;
  border: 0;
  padding: 8px 16px;
}

.btn--circle {
  border-radius: 50%;
  font-weight: bold;
  padding: 0;
  width: 60px;
  height: 60px;
}

.btn--disabled {
  background-color: lightgray;
}

.nice-scroll {
  -webkit-overflow-scrolling: touch;
}

.textarea {
  width: calc(100% - 10px);
  font-size: 14px;
  font-family: Courier;
  border-left: 0px;
  border-right: 0px;

  -webkit-appearance: none;
  border-radius: 0;
}

.textfield {
  border: 1px solid #d8d8d8;
  border-radius: 0;
  -webkit-appearance: none;
  padding: 5px;
  font-size: 16px;
}

div[tabindex='-1']:focus {
  outline: 0;
}

button {
  touch-action: manipulation;
}
